:root {
  --primary-color: #ea625c;
  --text-color:#333;
  --font-text: 'Roboto', sans-serif;

}

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-text);
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}


/* CONTAINER */

.container {
  width: 100%;
  max-width: 1100px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
}